node_modules
**/node_modules

.next
**/.next
dist
**/dist
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo

.env
.env.*
!.env.example

.git
.turbo
tmp
playwright-report
test-results

postgres_data
minio_data
